:host {
    background-color: rgb(255, 57, 57);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.paypal {
    margin-block: 10vw;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.paypal a {
    text-align: center;
    padding-block: 25%;
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.paypal a:hover {
    padding-block: 50%;
    color: rgb(255, 255, 0);
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50%;
}

.paypal strong {
    transition: all 1s;
    color: rgb(255, 255, 255);
}

.paypal:hover strong {
    color: rgb(255, 255, 0);
}

.bg {
    z-index: -1;
    position: absolute;
    bottom: 0;
    background-image: url("../../assets/layered-waves-haikei.svg");
    width: 100vw;
    height: auto;
    aspect-ratio: 900/600;
    background-repeat: no-repeat;
    background-size: cover;
}