<section>
    <ul>
        <li class="donation">
            <a routerLink="/donation">Donate <span></span> </a>
        </li>
        <li class="tech">
            <p>Technologies used</p>
            <a class="angular" href="https://angular.io/" target="_blank">angular<span></span
      ></a>
            <a class="nodejs" href="https://nodejs.org/" target="_blank">nodejs<span></span
      ></a>
            <a class="imagekit" href="https://imagekit.io/" target="_blank">imagekit<span></span
      ></a>
            <a class="mongodb" href="https://www.mongodb.com/" target="_blank">mongodb<span></span
      ></a>
        </li>
        <li class="github">
            <a href="https://github.com/AymanLyesri/" target="_blank">
        **CREATOR** Ayman Lyesri <span></span
      ></a>
        </li>
    </ul>
</section>