:host {
    background-color: #212121;
}

.options {
    gap: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3,
strong {
    margin-block: 1%;
    color: #444444;
    transition: all 0.5s;
}

.options div:hover * {
    text-shadow: 10px 10px 10px black;
}

.options div:hover h3 {
    color: #666666;
}

.options div:hover strong {
    color: rgb(255, 255, 0);
}

.options .columns,
.options .hover,
.options .loadingSpeed,
.options .span {
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options .columns div,
.options .hover div,
.options .loadingSpeed div,
.options .span div {
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options button {
    padding: 10px;
    border: 1px #000000 solid;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.options button:hover {
    border: 1px rgb(255, 255, 0) solid;
    color: rgb(255, 255, 0);
}

@media screen and (max-width:600px) {
    .options {
        display: none;
    }
}

.mobileOptions strong {
    color: #ffbb00;
}

.mobileOptions .columns,
.mobileOptions .loadingSpeed,
.mobileOptions .span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileOptions .columns div,
.mobileOptions .loadingSpeed div,
.mobileOptions .span div {
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileOptions button {
    padding: 5%;
    border: 1px #ffbb00 solid;
    border-radius: 10px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width:600px) {
    .mobileOptions {
        display: none;
    }
}