<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/index/index.css" />
    <title>all</title>
</head>

<body>
    <p>Powered and Maintained By <strong>Ayman Lyesri</strong></p>
    <div>
        <h1>hi</h1>
        <a href="/posts">go to posts</a>
        <a href="/add">add a post</a>
        <form action="/posts" method="POST">
            <span>
          <p>SECRET ANIME SAUCE YOU WANNA WORSHIP :</p>
          <input type="password" name="password" placeholder="secret word" />
          <input type="submit" value="time to lick em" />
        </span>
        </form>
    </div>
</body>

</html>