<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/index/index.css" />
    <title>all</title>
</head>

<body>
    <p>Powered and Maintained By <strong>Ayman Lyesri</strong></p>
    <div>
        <h1>Image uploading made eazy</h1>
        <a href="/posts">go to posts</a>
        <a href="/add">add a post</a>
        <form action="/secret" method="POST">
            <span>
          <p>SECRET ANIME SAUCE YOU WANNA LICK SO HARD :</p>
          <input
            type="password"
            name="password"
            placeholder="so lickable so sniffable :)"
          />
          <input type="hidden" name="offset" value="0" />
          <input type="submit" value="time to lick!!!" />
        </span>
        </form>
    </div>
</body>

</html>