:host {
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.nav-wide {
    margin-top: 5%;
    color: black;
    height: 100%;
    width: 90%;
    background-color: white;
    border: 1px rgb(41, 41, 41) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
    display: flex;
    transition: all 1s ease;
    justify-content: center;
}

.nav-narrow {
    margin-top: 1%;
    height: 80%;
    width: 50%;
    background-color: white;
    border: 1px rgb(41, 41, 41) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
}

@media screen and (max-width: 600px) {
    .nav-wide {
        width: 95%;
    }
    .nav-narrow {
        width: 90%;
    }
}

.github {
    align-self: flex-end;
    margin: auto;
}

.login {
    margin: auto;
    height: 100%;
}

.login a {
    padding: 10%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
}

.login a span {
    background-image: url("../../assets/user-solid-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1em;
    height: 1em;
}

.login a p {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.home {
    margin: auto;
    height: 100%;
}

.home a {
    width: 100%;
    padding: 10%;
    height: 100%;
    text-decoration: none;
    display: flex;
}

.home a span {
    background-image: url("../../assets/house-solid-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1em;
    height: 1em;
    display: block;
}

.home a p {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}