:host {
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.nav-wide {
    margin-top: 5%;
    color: black;
    height: 100%;
    width: 50%;
    background-color: white;
    border: 1px rgb(41, 41, 41) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
    display: flex;
    transition: all 1s ease;
}

.nav-narrow {
    margin-top: 1%;
    height: 80%;
    width: 25%;
    background-color: white;
    border: 1px rgb(41, 41, 41) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
    display: flex;
}

.login {
    margin-left: 10%;
    height: 100%;
}

.login a {
    height: 100%;
    text-decoration: none;
    display: flex;
}

.login a span {
    background-image: url("../../assets/user-solid-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.login a p {
    color: rgb(0, 0, 0);
}

.home a {
    height: 100%;
    text-decoration: none;
    display: flex;
}

.home a span {
    background-image: url("../../assets/house-solid-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.home a p {
    color: rgb(0, 0, 0);
}