@keyframes bouncing {
    0% {
        top: 40%;
    }
    100% {
        top: 30%;
    }
}

.page-overlay-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.479);
}

.bee-spinner {
    margin: 0;
    padding: 0;
    width: 10em;
    height: 10em;
    position: fixed;
    z-index: 1009;
    background-size: cover;
    animation: bouncing 0.4s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
}