:host {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    margin-top: 20%;
    padding: 0;
    height: 10%;
    color: rgb(255, 255, 255);
}

hr {
    width: 80%;
}

form {
    background-color: rgb(255, 255, 255);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}

form mat-form-field {
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

p {
    color: rgb(0, 0, 0);
}

input {
    width: 80%;
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
}

button {
    margin-left: 40%;
    width: 20%;
}