<h1>login to post *For Admin Only*</h1>
<section class="help">
    <a [href]="getLink()" target="_blank">
        <h2>DM me your best pics ^^</h2>
        <span [style]="getIcon()"> </span>
    </a>
</section>
<hr />

<form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="name" type="text" />
        <mat-hint align="end">for admin only</mat-hint>
        <mat-error *ngIf="name.invalid && name.touched">Empty Name</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="password" placeholder="password" type="password" /> </mat-form-field><br />
    <button *ngIf="name.valid && password.valid" mat-raised-button type="submit">
    login
  </button>
    <p *ngIf="!getResponse() && name.touched">false login</p>
</form>