:host {
    background: linear-gradient(-45deg, #000000, #494949, #000000, #494949, #000000);
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    color: white;
}

.mobileOptions {
    display: none;
}

.mobileOptions h3 {
    text-align: center;
    color: #494949;
}

.mobileOptions .columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .mobileOptions {
        display: unset;
    }
    .oneColumn {
        grid-template-columns: 100vw !important;
    }
    .twoColumn {
        grid-template-columns: 50vw 50vw !important;
    }
    .threeColumn {
        grid-template-columns: 33vw 33vw 33vw !important;
    }
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options h3 {
    color: #494949;
}

.options .columns,
.hover {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options button,
.mobileOptions button {
    margin-inline: 5%;
    padding: 4%;
    border: 1px #ffbb00 solid;
    border-radius: 10px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.options button:hover {
    padding: 5%;
    border: 1px #000000 solid;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:600px) {
    .options {
        display: none;
    }
}

hr {
    width: 80%;
}

.imageGrid {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.imageGrid div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    transition: all .2s;
    border: 1px rgba(255, 255, 255, 0) solid;
}

.imageGrid img {
    border: 1px white solid;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 1s;
    animation: popUp 1s;
}

@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (min-width:600px) {
    .imageGrid {
        margin-inline: 5%;
        width: 90%;
        gap: 1em;
    }
    .imageGrid div:hover {
        border: 1px white solid;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.500);
        z-index: 1000;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);
        backdrop-filter: blur(5px);
    }
    .imageGrid div:hover img {
        border: 1px rgba(255, 255, 255, 0) solid;
    }
    .imageGrid div:active img {
        border: none;
        margin-block: 20%;
    }
    .zoom:hover {
        transform: scale(1.2);
    }
    .zoomPlus:hover {
        transform: scale(1.5);
    }
    .noZoom:hover {
        transform: none;
    }
}

.imageGrid p {
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    color: aliceblue;
    transition: all 1s;
}

.imageGrid p:hover {
    text-indent: -100px;
}

.imageGrid a {
    margin-block: 5%;
    padding: 1%;
    text-decoration: none;
    color: #ffffff;
    background-color: #313131;
    border: 1px #423000 solid;
    border-radius: 10px;
    transition: all 1s;
}

.imageGrid div:hover a {
    margin-block: 0;
    padding-block: 5%;
    padding-inline: 10%;
    color: #000000;
    background-color: #ffffff;
    border: 1px #979797 solid;
    border-radius: 10px;
}

.image-wide {
    grid-column: span 2/auto;
}

@media screen and (max-width: 600px) {
    .image-wide {
        grid-column: span 1;
        grid-row: span 1;
    }
    .imageGrid img,
    .imageGrid div {
        margin: 0;
        border: none;
    }
}

.previous {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 0px 30px 30px 0px;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    border: 1px white solid;
    color: white;
    height: 25vh;
    width: 5vw;
    transition: all 1s;
}

.previous:hover {
    height: 30vh;
    background-color: rgba(255, 255, 0, 0.500);
    color: rgb(0, 0, 0);
}

.next {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 30px 0px 0px 30px;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    border: 1px white solid;
    color: white;
    height: 25vh;
    width: 5vw;
    transition: all 1s;
}

.next:hover {
    height: 30vh;
    background-color: rgba(255, 255, 0, 0.500);
    color: rgb(0, 0, 0);
}

@media screen and (max-width:600px) {
    .previous {
        top: unset;
        bottom: 0;
        transform: none;
        height: 5vh;
        width: 50vw;
    }
    .next {
        top: unset;
        bottom: 0;
        transform: none;
        height: 5vh;
        width: 50vw;
    }
}