:host {
    background-color: rgb(10, 10, 10);
}

header {
    width: 100%;
}

header .bg-1 svg {
    height: 100%;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

h1 {
    text-align: center;
    color: rgb(150, 150, 150);
}

hr {
    margin-block: 5%;
    width: 80%;
}

.imageGrid {
    gap: 0.3em;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.imageGrid div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    transition: all .2s;
    border: 1px rgba(255, 255, 255, 0) solid;
}

.imageGrid img {
    perspective: 1000;
    transform-style: preserve-3d;
    border: 1px white solid;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 1s;
    animation: popUp 1s;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: blur(5px);
    }
    100% {
        opacity: 100%;
        transform: blur(0);
    }
}

@media (min-width:600px) {
    .imageGrid {
        margin-inline: 5%;
        width: 90%;
    }
    .imageGrid div:hover {
        border: 1px rgba(255, 255, 255, 0) solid;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.500);
        z-index: 900;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);
        backdrop-filter: blur(5px);
    }
    .imageGrid div:hover img {
        border: none;
    }
    .imageGrid div:active {
        padding: 10%;
    }
    .zoom:hover {
        transform: scale(1.2);
    }
    .zoomPlus:hover {
        transform: scale(1.5);
    }
    .noZoom:hover {
        transform: none;
    }
}

@media screen and (max-width:600px) {
    .oneColumn {
        width: 100vw;
        grid-template-columns: 100vw !important;
    }
    .oneColumn .image-wide {
        grid-column: span 1;
    }
    .twoColumn {
        width: 100vw;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .threeColumn {
        width: 100vw;
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

.imageGrid p {
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    color: aliceblue;
    transition: all 1s;
}

.imageGrid p:hover {
    text-indent: -100px;
}

.imageGrid a {
    margin-block: 3%;
    padding: 1%;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border: 1px #423000 solid;
    border-radius: 10px;
    transition: all 1s;
}

.imageGrid div:hover a {
    color: #000000;
    background-color: #ffffff;
    border: 1px #979797 solid;
    border-radius: 10px;
}

.image-wide {
    grid-column: span 2/auto;
}

@media screen and (max-width: 600px) {
    .imageGrid img,
    .imageGrid div {
        margin: 0;
        border: none;
    }
}

.previous,
.next {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px rgb(0, 0, 0) solid;
    backdrop-filter: blur(5px);
    color: white;
    height: 20vh;
    width: 2vw;
    transition: all 0.5s;
}

.previous {
    left: 0;
    border-radius: 0px 30px 30px 0px;
}

.next {
    right: 0;
    border-radius: 30px 0px 0px 30px;
}

.previous p,
.next p {
    margin: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.previous:hover,
.next:hover {
    height: 30vh;
    width: 4vw;
    color: rgb(255, 255, 0);
    border: 1px rgb(255, 255, 0) solid;
}

@media screen and (max-width:600px) {
    .previous,
    .next {
        top: unset;
        bottom: 0;
        transform: none;
        height: 5vh;
        width: 50vw;
    }
    .previous p,
    .next p {
        writing-mode: unset;
        text-orientation: unset;
    }
}