<h1>all posts</h1>
<a #top></a>
<div class="options">
    <button (click)="toggleGrid(2)">Large</button>
    <button (click)="toggleGrid(3)">Medium</button>
    <button (click)="toggleGrid(0)">Auto</button>
</div>
<hr />

<div #imageGrid class="imageGrid" *ngIf="images.length > 0">
    <div *ngFor="let image of images">
        <img #img appImageRatio loading="lazy" [id]="image._id" [src]="image.url" [alt]="image.name" height="600" width="600" />
        <p>{{ image.name }}</p>
        <p>{{ image.createdAt }}</p>
        <p>{{ image.size / 1000 }}kb</p>
        <button *ngIf="isLoggedIn()" (click)="deleteImage(image._id)">
      delete
    </button>
    </div>
</div>

<button class="previous" *ngIf="showPrevious()" (click)="Page(top, false)">
  previous
</button>
<button class="next" *ngIf="showNext()" (click)="Page(top, true)">next</button>