<h1>Create image post</h1>
<hr />
<div>
    <button (click)="uploadMultipleFiles()">Upload images</button>
    <div *ngIf="imgResultBeforeCompress.length >= 0" class="preview">
        <img *ngFor="let data of imgResultBeforeCompress" src="{{ data }}" />
    </div>
    <div *ngIf="imgResultAfterCompress.length >= 0" class="preview">
        <img *ngFor="let data of imgResultAfterCompress" src="{{ data }}" />
    </div>
    <button (click)="onSubmit()">upload image</button>
</div>

<p style="color: white">{{ form.value.name }}</p>