html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    background-image: radial-gradient(#ff0000 2px, #1b1b1b 2px);
    background-size: 40px 40px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#credit {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    height: 10%;
    transition: 0.5s;
}

#credit:hover {
    color: yellow;
}

#tutorial {
    text-align: center;
    color: yellow;
    border: 1px solid white;
    border-radius: 10px;
    background: #1b1b1b;
    width: 50%;
    margin-left: 25%;
}

#image-grid {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

img {
    max-width: 90%;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #000000;
    max-height: 50vh;
    transition: 0.5s;
    margin: 0 auto;
}

img:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    transform: scale(1.5);
}

img:active {
    border-radius: 1px;
    border: 0px;
    box-shadow: 15px 15px 10px #00000000;
    transform: scale(7);
    position: fixed;
    /* or absolute */
    margin: 0;
    top: 50%;
    left: 50%;
    max-width: 10vw;
    max-height: 10vh;
}

.image-wide {
    grid-column: span 2/auto;
}

.image-tall {
    grid-row: span 2/auto;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    margin-top: 5%;
    text-align: center;
}

figcaption a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

figcaption a:hover {
    color: yellow;
}

#next {
    position: fixed;
    bottom: 0%;
    right: 0%;
}

#next input[type="submit"] {
    padding: 5%;
    padding-right: 5vw;
    padding-left: 5vw;
    transition: 0.5s;
}

#next input[type="submit"]:hover {
    padding-bottom: 10vh;
}

button {
    padding: 1%;
    padding-right: 5vw;
    padding-left: 5vw;
    transition: 0.5s;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

button:hover {
    padding-bottom: 10vh;
}