<h1>all favorites</h1>
<a #top id="top"></a>
<hr />
<div #imageGrid class="imageGrid oneColumn">
    <div #card *ngFor="let image of images" [id]="image._id">
        <img appImageRatio [src]="image.thumb" [alt]="image.name" height="500" width="500" />
        <a [href]="image.url" target="_blank">Full Size</a>
        <!-- <button (click)="downloadImage(image.url, 'fdsf')">Download</button> -->
        <p>{{ image.name }}</p>
        <p>{{ image.createdAt }}</p>
        <p>{{ image.size / 1000 }}kb</p>
        <button class="favorite" (click)="deleteFavorite(image._id)">delete</button>
    </div>
    <div *ngIf="images.length == 0 || !images">
        <h1>You got no favorites Bruh</h1>
    </div>
</div>

<footer>
    <div class="bg"></div>
</footer>

<!-- <button class="previous" *ngIf="showPrevious()" (click)="Page(top, false)">
  <p>PREVIOUS</p>
</button>
<button class="next" *ngIf="showNext()" (click)="Page(top, true)">
  <p>NEXT</p>
</button> -->